



.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100px; */
    overflow: hidden;
  }
  
  .navbar {
    width: 100vw;
  }


.navbarLogo path{
    fill: white;
    width: 3.2rem;
}